#body-container {
	display: flex;
	flex-direction: column;
	#confetti {
		width: 100vw;
		height: auto;
		// object-fit: cover;
		mix-blend-mode: exclusion;
		z-index: 77;
		position: fixed;
		animation: wow 3s forwards;
		animation-delay: 2s;
		pointer-events: none;
	}
	@keyframes wow {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
@media screen and (max-width: 1000px) {
	#body-container {
		#confetti {
			// transform: translateX(-25%, ;
			// transform: scale(2.1);
			// bottom: 20%;
			height: 100vh;
			object-fit: cover;
			// width: auto;
		}
	}
}
::-webkit-scrollbar {
	display: none; /* Hide scrollbar */
}
